* { margin: 0 ; padding: 0 }

body {
    max-width: 1000px;
    margin: 1em auto;
    padding: 0 2em;
    position: relative;
    font-size: 15px;
    line-height: 1.2;
    font-family: sans;
}


#getting-started {
    padding: 3em 10%;
}

#getting-started > form {
    vertical-align: middle;
    padding-right: 3%;
    display: inline-block;
}

#getting-started > form > button {
    border: 0;
    background: none;
    cursor: pointer;
}

#getting-started > form > button > img {
    width: 44px;
    margin: 2px;
}

#getting-started > form > button:hover > img {
    width: 48px;
    margin: 0;
}

#getting-started > form > input[type=file] {
    display: none;
}

#loading {
    padding: 3em 10%;
    display: none;
}

#loading > div {
    height: 1em;
    width: 100%;
    background: #eee;
}

#loading > div > div {
    height: 1em;
    width: 0%;
    background: #888;
}

#getting-started > p {
    vertical-align: middle;
    width: 80%;
    padding-left: 3%;
    display: inline-block;
    border-left: 1px solid gray;
}

#ui {display: none;}

#time {
    width: 100%;
    margin-bottom: 1em;
}

.empty-timeline {
    height: 1em;
    background: #fff;
    text-align: center;
    font-size: .5em;
    margin: 1px 0 0 0;
}

.timeline div {
    cursor: pointer;
}

.timeline div.group-none {
    cursor: default;
}

#search {
    width: calc(100% - 6em);
}

#search-button {
    width: 5em;
}

#searches {
    margin: 0;
    font-size: 12pt;
    font-family: monospace;
    min-height: 1.5em;
}

#searches > li {
    list-style-type: none;
    display: inline-block;
    padding: .25em .5em;
    border-radius: .5em;
    background: #eee;
    margin: .25em .25em .25em 0;
    cursor: pointer;
}

#searches > li > div {
    width: 1em;
    height: 1em;
    margin: .15em 0 0 .5em;
    display: inline-block;
}

#load-more {
    text-align: center;
    float: right;
}

.timeline {
    height: .75em;
    background: #eee;
    margin: 2px 0 0 0;
    clear: both;
}

.timeline:before {
    content: attr(title);
    font-size: 8pt;
    position: absolute;
    font-family: sans;
    min-width: 3em;
    left: -2.5em;
}

.timeline div {
    display: block;
    margin: .075em 0;
    padding: 0;
    height: .6em;
    float: left;
    opacity: .5;
}

.timeline div.round-right {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
}
.timeline div.round-left {
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}

.timeline div:hover {
    opacity: 1;
}

#blockinfo {
    clear: both;
    margin-top: 2em;
}

.events {
    list-style-type: none;
    width: 100%;
    font-size: 12pt;
    margin-top: 1em;
}

.events tr {
    overflow: hidden;
    width: 100%;
}

.events .title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.events .counter {
    color: #444;
    width: 5ex;
    display: inline-block;
    text-align: right;
    padding-right: .4em;
}

h2 {
    font-size: 18pt;
}

#searchinfo {
    margin-top: 2em;
}

#searchinfo > header > button {
    float: right;
}

#searchinfo table table {
    width: 100%;
    margin: 0 1em;
}

#searchinfo canvas {
    background-color: #eee;
}

#search-text {
    font-size: 18pt;
    border: 0;
}

.group-unmatched {background: #888;}
.group-0 {background: darkblue;}
.group-1 {background: darkgreen;}
.group-2 {background: darkred;}
.group-3 {background: darkgoldenrod;}
.group-4 {background: darkmagenta;}
.group-5 {background: darkorange;}
.group-6 {background: darkslategray;}
.group-7 {background: darkviolet;}
.group-8 {background: forestgreen;}
.group-9 {background: indigo;}
