<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

Please edit this file to set up TimeTracker.  You'll need to:

 + Replace `/path/to/timetracker` with the correct path for timetracker.py
 + Replace `/path/to/log` with the path
 + Add any additional arguments

-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.timetracker</string>
	<key>ProgramArguments</key>
	<array>
            <string>/usr/bin/python</string>
            <string>/path/to/timetracker/src/timetracker.py</string>
            <string>--file=/path/to/log/timetracker.log</string>

            <!--
            Additional arguments would require adding more lines like:

            <string>--buffer=60</string>

            -->
	</array>
	<key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/tmp/timetracker.out</string>
        <key>StandardErrorPath</key>
        <string>/tmp/timetracker.err</string>
</dict>
</plist>
