<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.timetracker</string>
	<key>ProgramArguments</key>
	<array>
            <string>/Users/cathywu/Dropbox/TimeTracker/src/timetracker.py</string>
            <!--
            Additional arguments would require adding more lines like:

            <string>--file=~/timetracker.log</string>

            -->
	</array>
	<key>RunAtLoad</key>
        <true/>
</dict>
</plist>
